# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo

# Frontend
frontend/node_modules/
frontend/dist/

# Strategies & Data
strategies/*.pyc
backtests_data/
backend/backtests_data/

# Database
backend/data/
backend/trading_bot.db

# OS
.DS_Store
*.log
.env
